.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: none;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }

  &:last-of-type {
    margin-bottom: 60px;
  }
}
.form__legend {
  margin-right: auto;
  margin-bottom: 12px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  &--price {
    margin-bottom: 0px;
  }
}
